*{
    
    text-align: center;
}

body{
    display: flex;
    flex:1;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    
}

button{
    border-radius: 10%;
}

.hero, footer{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    height: 500px;
}


.nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.logo{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.welcometext{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 0;  
}

.firstbutton{
    border: none;
    padding: 12px;
    
}

img{
    border: solid lightblue;
    border-radius: 10%;
}


.infoheader{
    padding-top: 40px;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 40px;
    height: 200px;
}

.maintext{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.infoheader{
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

button, .action{
    background-color: #3882f6;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    background-color: #e5e7eb;
    font-size: 24px;
    font-style: italic;
    color:#1f2937;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    padding: 40px;
    gap: 12px;
    width: 100%;
    height: 100px;
}

.author{
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

.action{
    border: solid white 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    width: 50%;
    height: 100px;
    
}

.signtext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer{
    padding: 20px;
    height: auto;
}

.secondbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 10px 12px;
    height: 40px;
    border: solid white;
}

